.App {
  text-align:center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: white;*/
  /*background: #fff url(https://c.pxhere.com/photos/75/fc/camera_glasses_magnifying_glass_map_maps_notebook_notepad_notes-913960.jpg!s2) center top/cover no-repeat;*/
  background: #fff url(./images/cool-background.png) center top/cover no-repeat;
  /*filter: blur(2px);*/
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
