.cartCard{
    display: flex;
    justify-content: space-between;
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.total{
    font-size: xx-large;
    font-weight: bolder;
}