.card{
    height: 15rem;
    width: 15rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
}

.card img{
    height: 100%;
    width: 100%;
}

.card:hover .detalles{
    opacity: 1;
    height: 100%;
}

.detalles{
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    opacity: 0;
    transition: 0.5s ease;
    color:white;
}

.detalles p{
    margin:5px;
}

.detalles h4{
    margin:3px;
}

.detalles h2{
    text-transform: uppercase;
    font-size: 24px;
}

.link-container{
    width: 80%;
    background: white;
}

.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
